# Exploration

This notebook is intended to explore the data before processing it.
We have the following CSVs:

In [2]:
from pathlib import Path

# Directory with all CSVs
DATA_PATH = Path('..') / "data"

# Store the path of each individual CSV
ACCIDENTS_PATH = DATA_PATH / "Acidentes_DadosAbertos_20220912.csv"
# LOCALITIES_PATH = DATA_PATH / "Localidade_DadosAbertos_20220912.csv"
VEHICLES_PATH = DATA_PATH / "TipoVeiculo_DadosAbertos_20220912.csv"
VICTIMS_PATH = DATA_PATH / "Vitimas_DadosAbertos_20220912.csv"

Let's import some packages to deal with CSV files...

In [3]:
import pandas as pd

Let's load each file...

In [19]:
accidents_df = pd.read_csv(ACCIDENTS_PATH, sep=';', dtype=str)

In [39]:
accidents_df.head()

,num_acidente,chv_localidade,data_acidente,uf_acidente,ano_acidente,mes_acidente,mes_ano_acidente,codigo_ibge,dia_semana,fase_dia,...,lim_velocidade,tp_pista,ind_guardrail,ind_cantcentral,ind_acostamento,qtde_acidente,qtde_acid_com_obitos,qtde_envolvidos,qtde_feridosilesos,qtde_obitos
0,2530504,AC1200203201801,2018-01-12,AC,2018,01,012018,1200203,SEXTA-FEIRA,TARDE,...,NAO INFORMADO,NAO INFORMADO,NAO INFORMADO,NAO INFORMADO,NAO INFORMADO,1,0,1,1,0
1,225803,AC1200401201801,2018-01-15,AC,2018,01,012018,1200401,SEGUNDA-FEIRA,MANHA,...,NAO INFORMADO,NAO INFORMADO,NAO INFORMADO,NAO INFORMADO,NAO INFORMADO,1,0,2,2,0
2,3109167,AC1200401201801,2018-01-16,AC,2018,01,012018,1200401,TERCA-FEIRA,TARDE,...,NAO INFORMADO,NAO INFORMADO,NAO INFORMADO,NAO INFORMADO,NAO INFORMADO,1,0,4,4,0
3,1558644,AC1200401201801,2018-01-19,AC,2018,01,012018,1200401,SEXTA-FEIRA,NOITE,...,NAO INFORMADO,NAO INFORMADO,NAO INFORMADO,NAO INFORMADO,NAO INFORMADO,1,0,2,2,0
4,3034620,AC1200401201801,2018-01-18,AC,2018,01,012018,1200401,QUINTA-FEIRA,NOITE,...,NAO INFORMADO,NAO INFORMADO,NAO INFORMADO,NAO INFORMADO,NAO INFORMADO,1,0,2,2,0

In [25]:
veiculos_df = pd.read_csv(VEHICLES_PATH, sep=';', dtype=str)

In [40]:
veiculos_df.head()

  num_acidente   tipo_veiculo ind_veic_estrangeiro qtde_veiculos
0          113  NAO INFORMADO        NAO INFORMADO             1
1          177  NAO INFORMADO        NAO INFORMADO             2
2          280  NAO INFORMADO        NAO INFORMADO             1
3          302  NAO INFORMADO        NAO INFORMADO             2
4          430  NAO INFORMADO        NAO INFORMADO             1

In [10]:
victims_df = pd.read_csv(VICTIMS_PATH, sep=';', dtype=str)

In [41]:
victims_df.head()

,num_acidente,chv_localidade,data_acidente,uf_acidente,ano_acidente,mes_acidente,mes_ano_acidente,faixa_idade,genero,tp_envolvido,gravidade_lesao,equip_seguranca,ind_motorista,susp_alcool,qtde_envolvidos,qtde_feridosilesos,qtde_obitos
0,3479731,AC1200401201801,2018-01-15,AC,2018,01,012018,ENTRE 40 E 44 ANOS,FEMININO,MOTORISTA,NAO INFORMADO,NAO INFORMADO,SIM,NAO INFORMADO,2,2,0
1,1455930,AC1200401201801,2018-01-09,AC,2018,01,012018,ENTRE 18 E 24 ANOS,MASCULINO,MOTORISTA,NAO INFORMADO,NAO INFORMADO,SIM,NAO INFORMADO,1,1,0
2,3034619,AC1200401201801,2018-01-04,AC,2018,01,012018,ENTRE 25 E 29 ANOS,MASCULINO,MOTORISTA,NAO INFORMADO,NAO INFORMADO,SIM,NAO INFORMADO,1,1,0
3,3109166,AC1200401201801,2018-01-14,AC,2018,01,012018,ENTRE 18 E 24 ANOS,MASCULINO,MOTORISTA,LEVE,NAO INFORMADO,SIM,NAO INFORMADO,1,1,0
4,1611752,AC1200401201801,2018-01-29,AC,2018,01,012018,ENTRE 25 E 29 ANOS,MASCULINO,MOTORISTA,NAO INFORMADO,NAO INFORMADO,SIM,NAO INFORMADO,1,1,0